.DS_Store

*.py[cod] 

#For android studio idea files. They are annoying
**/.idea/workspace.xml **/.idea/tasks.xml



*.pyc

android/build/intermediates/model_data.bin

android/build/intermediates/model_data.bin
