<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.touravel.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.touravel.app.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.touravel.app.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".LoginActivity" android:label="@string/app_name">

        </activity>
        <activity
            android:name="com.example.touravel.app.MapActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.touravel.app.ProfileActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.touravel.app.TimelineActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.touravel.app.StorylineActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
        android:name="com.example.touravel.app.SettingsActivity"
        android:label="@string/app_name" >
    </activity>
    </application>

</manifest>
